body {
  font-family: 'Epilogue', sans-serif;
}

.custom-button {
  border: none;
  background: none;
  color: #fff;
  padding: 0;
  cursor: pointer;
}

.custom-button:hover {
  opacity: 0.5;
}

.no-underline {
  text-decoration: none;
}

.white {
  color: #fff;
}

.flag {
  font-size: 20px;
}

.btn-success {
  background-color: #9457e0;
}

.btn-success:hover {
  background-color: #aa78e6;
}

.navbar {
  background-color: #fa9370;
}
