body {
  font-family: 'Epilogue', sans-serif;
}

h1 {
  font-weight: 700;
}

.custom-button {
  border: none;
  background: none;
  color: #fff;
  padding: 0;
  cursor: pointer;
}

.custom-button:hover {
  opacity: 0.5;
}

.no-underline {
  text-decoration: none;
}

.white {
  color: #fff;
}

.flag {
  font-size: 20px;
}

.btn-primary {
  background-color: #fcb4b5;
}

.btn-primary:hover {
  background-color: #ec5648;
}

.navbar {
  background-color: #7689d6;
}

.navy {
  color: #3b72ab;
}

.illustration {
  width: 100%;
}
