.custom-button {
  border: none;
  background: none;
  color: #fff;
  padding: 0;
  cursor: pointer;
}

.custom-button:hover {
  opacity: 0.5;
}

.no-underline {
  text-decoration: none;
}

.white {
  color: #fff;
}

.btn-width {
  max-width: 50%;
}
