{% extends 'base.html' %} {% block title %}{{ current_user.username }}'s Chats{%
endblock %} {% block content %}
<div class="container">
  {% for msg in get_flashed_messages() %}
  <p class="text-success bg-dark border border-success border-1">
    {{ msg }}
    {% endfor %}
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
     
      <ul class="list-group" id="chat-list">
        {% for chat in chats %}
        <li
        class="list-group-item mb-3"
        data-chat-id="{{ chat.id }}"
        data-date-created="{{ chat.created_at}}"
        >
          <div class="d-flex justify-content-between align-items-center">
            
            </p>
           
            <div>
              <a
                class="list-group-item list-group-item-action"
                href="{{ url_for('chat_page', chat_id=chat.id) }}"
              >
                {{ chat.chat_title }}
              </a>
            </div>
            <div>
                <a href="{{ url_for('edit', chat_id=chat.id) }}" class="custom-button">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <form method="POST" action="{{ url_for('delete_chat', chat_id=chat.id) }}">
                  <button id="delete-button" type="submit" class="custom-button">
                    <i class="fa-solid fa-trash"></i>
                </button>
                </form>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div id="sortButtons">
        <button id="sortAscending" class="btn btn-primary mt-3"
        >Toggle Newest to Oldest Chats</button>
      </div>
    </div>
  </div>
</div>
<script src="/static/chatList.js"></script>
{% endblock %}
