{% extends 'base.html' %} {% block title %}New Chat{% endblock %} {% block
content %}

<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <ul
          id="message-group"
          data-chat-id="{{ chat_id }}"
          class="list-group w-auto"
          style="max-height: calc(100vh - 200px); overflow-y: auto"
        >
          {% if messages %} {% for message in messages %}
          <li class="list-group-item my-1">
            <p class="fs-3">&#128512;</p>
            <p id="user-text" class="opacity-75">{{ message.content }}</p>
          </li>
          {% endfor %} {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="fixed-bottom">
    <div class="container">
      <div class="input-group mb-3">
        <input
          id="user-input"
          type="text"
          class="form-control"
          placeholder="start chatting"
          aria-label="start chatting"
          aria-describedby="submit-button"
        />
        <button class="btn btn-primary" type="button" id="submit-button">
          Submit
        </button>
      </div>
    </div>
  </div>
</main>
<script src="/static/app.js"></script>

{% endblock %}
