{% extends 'base.html' %} {% block title %}New Chat{% endblock %}{% block
content %}

<main class="flex-shrink-0">
  <div class="container">
    <div id="message-group" class="list-group w-auto"></div>

    <div class="input-group mb-3">
      <input
        id="user-input"
        type="text"
        class="form-control"
        placeholder="start chatting"
        aria-label="start chatting"
        aria-describedby="submit-button"
      />
      <button class="btn btn-primary" type="button" id="submit-button">
        Submit
      </button>
    </div>
  </div>
</main>

{% endblock %}
