{% extends 'base.html' %} {% block title %}Home Page{% endblock %}{% block
content %}
<div class="container d-flex justify-content-center">
  <div class="col-md-7 col-lg-5">
    <div class="row">
      {% for msg in get_flashed_messages() %}
      <p class="text-success bg-dark border border-success border-1">
        {{ msg }}
      </p>
      {% endfor %} {% if current_user.is_authenticated %}
      <p>Welcome {{ current_user.username }}!</p>
      <p>Ready to start practicing your conversation skills?</p>
      <a href="{{ url_for('home') }}" class="btn btn-primary">New Chat</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
