{% extends 'base.html' %} {% block title %}Home Page{% endblock %}{% block
content %} {% for msg in get_flashed_messages() %}
<p class="text-danger bg-dark border border-danger border-1">{{ msg }}</p>
{% endfor %}{% if current_user.is_authenticated %}

<div class="container">
  <div class="row">
    <h2 class="text-center mb-4">Welcome {{ current_user.username }}!</h2>

    <div class="container d-flex justify-content-center">
      <div class="btn-group">
        <a href="{{ url_for('new_chat') }}" class="btn btn-primary"
          >New Conversation</a
        >
        {% if current_user.chats %}
        <a
          href="{{ url_for('display_chats', user_id=current_user.id) }}"
          class="btn btn-primary"
          >Saved Conversations</a
        >
        {% endif %}
      </div>
    </div>
    <img
      src="/static/images/saying-hello.jpg"
      alt="People saying hello in different languages"
    />
  </div>
</div>

{% else %}
<!-- if there is no logged in user display landing page copy -->
<div class="container">
  <div class="row justify-content-start mb-3">
    <div class="col-lg-7">
      
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-3">ChatTutor</h1>
            <p class="lead mb-5">
              Master Conversations, Elevate Your Language Skills
            </p>
          </div>
        </div>
        <img
              class="illustration"
              src="/static/images/saying-hello.jpg"
              alt="People saying hello in different languages"
            />      
    </div>
  </div>

    <div class="row">
      <div class="col-md-4">
        <h5>Immerse Yourself in Lifelike Conversations</h5>
        <p class="text-body-secondary navy">
          Practice your language skills with realistic and dynamic conversation
          scenarios powered by the OpenAI API. Engage in authentic dialogues
          that replicate real-life interactions to enhance your language
          proficiency.
        </p>
      </div>

      <div class="col-md-4">
        <h5>Save and Review for Personalized Learning</h5>
        <p class="text-body-secondary">
          Capture and store your conversations for future reference and review.
          Access your saved dialogues to analyze your progress, identify areas
          for improvement, and tailor your language learning journey to suit
          your needs.
        </p>
      </div>

      <div class="col-md-4">
        <h5>A Tailored Language Learning Experience</h5>
        <p class="text-body-secondary">
          Customize your practice sessions to focus on specific topics,
          vocabulary, or language proficiency levels. Whether you're a beginner
          or an advanced learner, our app adapts to your skill level and
          provides targeted exercises to help you excel.
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

{% endif %} {% endblock %}
