{% extends 'base.html' %} {% block title %}User Login{% endblock %} {% block
content %}
<div class="container fluid">
  <div class="row">
    <div class="col-md-7 col-lg-5">
      <h2 class="text-center join-message">Log in to your account</h2>

      <form method="POST" id="login_form">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
        != 'hidden' %}
        <div class="form-group">
          {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %} {{ field.label(class="form-label") }} {{
          field(class="form-control") }}
        </div>
        {% endfor %}

        <div class="text-center">
          <button class="btn btn-primary btn-block btn-md mt-4" type="submit">
            Log in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
